{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
  <div class="content-login">
    <div>
      <h1 id="login_title"> Connexion</h1>
      <form method="post">
        <label for="e-mail">E-mail<br /></label>
        <input name="e-mail" id="e-mail" required><br />

        <label  for="password">Mot de passe<br /></label>
        <input type="password" name="password" id="password" required><br />

        <div class="connexion-center">

          <input id="connexion-button" type="submit" value="Connexion">

          <div class="connexion-bas-de-page">

            <p id="connexion-text" style="display: inline;">pas de compte?</p>
            <a id="connexion-text" href="{{ url_for('auth.register') }}" style="display: inline;">s'inscrire</a>


          </div>
        </div>
    </form>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}