{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
  <div class="content-login">
    <div>
      <h1 id="login_title"> Connexion</h1>
      <form method="post">
        <label for="e-mail">E-mail<br /></label>
        <input name="e-mail" id="e-mail" required><br />

        <label for="password">Mot de passe<br /></label>
        <input type="password" name="password" id="password" required><br />

        <input type="submit" value="Se connecter">
      </form>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}