{% extends 'base.html' %}

{% block title %}
  S'enregistrer
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        <label for="nom">Nom<br /></label>
        <input name="nom" id="nom" required><br />

        <label for="prenom">Prénom<br /></label>
        <input name="prenom" id="prenom" required><br />

        <label for="telephone">Téléphone<br /></label>
        <input name="telephone" id="telephone" required><br />

        <label for="adresse">Adresse<br /></label>
        <input name="adresse" id="adresse" required><br />

        <label for="email">E-mail<br /></label>
        <input type="email"  name="email" id="email" required><br />

        <label for="password">Mot de passe<br /></label>
        <input type="password" name="password" id="password" required><br />
        <div class="connexion-center">
          <input id="connexion-button" type="submit" value="Créer">
        </div>
      </form>
    
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}