{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div class="content-user">
    <div>
      <div >
        <h2>Profil de l'utilisateur connecté</h2>
        <img id="header-logo" src="{{url_for('static', filename='imgs/profile-photo.png')}}" alt="profile-photo">
      </div class= >
      <ul>
        <li>Nom d'utilisateur: {{g.user.username}}</li>
        <li>Mot de passe: {{g.user.password}}</li>
        <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a></li>
      </ul>
    </div>
  </div>  
{% endblock %}