{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div class="content-user">
    <div>
      <div id="profile-logo">
        <img  src="{{url_for('static', filename='imgs/avatar.png')}}" alt="profile-photo">
      </div >
      <ul class= "profile-content">
        <li><h3>Nom : {{g.user.nom}}</h3></li>
        <li><h3>Prénom: {{g.user.prenom}}</h3></li>
        
      </ul>
      <div id="logout-button">
        <a href="{{ url_for('auth.logout') }}">Se déconnecter</a>

      </div>
      <div id="profile-rdv">
        <h2>Mes rendez-vous</h2>

      </div>
    </div>
  </div>  
{% endblock %}