{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div class='content-user'>
    <div>
      <div id="profile-logo">
        <img  src="{{url_for('static', filename='imgs/avatar.png')}}" alt="profile-photo">
      </div >
      <ul class= "profile-content">
        <li><h3>Nom : {{g.user.nom}}</h3></li>
        <li><h3>Prénom: {{g.user.prenom}}</h3></li>
        
      </ul>

      <div id="maj-bouton">
      <button  type="button" onclick="toggleForm()">Changer les infos</button>
      </div>
      
      <script>
        function toggleForm() {
          const form = document.getElementById("editForm");
          form.style.display = form.style.display === "none" ? "block" : "none";
        }
      </script> 

      <div id="editForm" style="display: none;">
        <form method="POST" action="{{ url_for('user.show_profile') }}">
        <div id="maj-profil">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom" value="{{ g.user.nom }}">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" name="prenom" id="prenom" value="{{ g.user.prenom }}">
          </div>
          <button type="submit">Mettre à jour</button>
        </div>
      </div>
      
      <div id="logout-button">
        <a href="{{ url_for('auth.logout') }}">Se déconnecter</a>

      </div>
      <div id='profile-rdv'>
        <h2>Mes rendez-vous</h2>
      
        {% if appointments %}
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Motif</th>
                </tr>
            </thead>
            <tbody>
                {% for appt in appointments %}
                <tr>
                    <td>{{ appt['date'] }}</td>
                    <td>{{ appt['heure'] }}</td>
                    <td>{{ appt['motif'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
          <p>pas de rendez-vous prochainement</p>
        {% endif %}

     </div>
     {% if session['id_personne'] == 4 %}
        <a id="planing" href="{{ url_for('rdv.planing') }}">voir calendrier</a>
     {% endif %}
    </div>
  </div>  
{% endblock %}