/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-family: 'inter', sans-serif;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/

/* Header*/





header{
    height: 100px;
}

#header-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
    
}


#header-nav-menu{
    width: 100%;
    background-color: black;
    
    
}

#header-nav>ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-inline-start: 0;
    gap: 18%;
    
    
    
}
#header-nav-menu li#rendezvous a {
  white-space: nowrap;
}
#header-nav li {

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}


#header-nav a{
    color: white;
    font-size: 150%;
    text-decoration: none;
}

#header-blog{

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;




}

/* content*/



.content-index, .content-404, .content-profile{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-index h1{
    text-align: center;
}

.content-profile-title{
    display: block; 
    text-align:center;
}


/* logo*/




#header-logo{
  width: 80%;
  height: 80%;
  

}


#profile-logo{
  display: flex;
  justify-content: center;

}
#profile-logo img{
  width: 25%;
  height: 25%;
  margin-top:5% ;
  margin-bottom: 5%;
}

/* footer*/




#footer-nav {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 100px;
}

#footer-nav p{
  color: white;
}


#footer-nav-logo{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#footer-nav-logo img{
  width: 30%;
}

#footer-nav-logo>a{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-bottom: 30px;
}

/* content*/




.content-login{
  height:80vh;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8b8d8d;
  
  
}
.content-login form * {
  margin-bottom: 15px; 
  font-size: 150%;
}

.content-register{
  font-size: 130%;
  height:100vh;
  display: flex;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8b8d8d;
  
  
}
.content-register form * {
  margin-bottom: 15px; 
}

.content-user{
  height:150vh;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #8b8d8d;
}

/* profil*/


.profile-content{

 display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-bottom: 15vh;
 font-size: 110%;
}

#profile-rdv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}


 





/* titre*/





#login_title{
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  
}

#title{
  display: flex;
  justify-content: center;


}

.title{
  height: 200px; ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,black,blue);
  
}
.title h1{
 font-size: 400%;
 color: white;

}


.home-blog{
 height: 80vh;


}
/* Connexion*/





#connexion-button{
 color: white;
 background-color: rgb(51, 110, 249);



}
#connexion-text{
  font-size: 60%;


}

.connexion-center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 100%;


}
.connexion-bas-de-page{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}

#logout-button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  margin-bottom: 5vh;
}

/*rendez-vous*/

.rdv-non-connexion{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.rdv-connexion{
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;

}

#motif{
  
  width: 100%;
  height: 70%;

}

#title-motif{
  display: flex;
  font-size: 200%;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;


}


.content-motif{
  height:60vh;
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #8b8d8d;
  
}



#calendar {
  margin: 50px auto;
  max-width: 300px;
}


.plage-horaire {
  margin: 10px auto;
  padding: 10px;
  max-width: 300px;
  background: #ddd;
  color: black;
  text-align: center;
  border-radius: 5px;
  
}
.plage-horaire.occupied {
  background: #444;
  color: white;
}
.plage-horaire a {
  color: #007bff;
  text-decoration: none;
}

.horaires{
  
  background-color: black;
  margin-top: 8vh;
  margin-bottom: 8vh;
  margin-left: 65vh;
  margin-right: 65vh;
  padding: 5vh;

}

#title-horaire{
  text-align: center;
  color: white;
  margin-bottom: 5vh;

}