{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content%}
  <h1 id ="title">Prendre rendez-vous</h1>

{% if g.user %}
  <div class="rdv-connexion">
    <form class="rdv-form" method="post">

      <label  for="date">date<br /></label>
      <input type="date" name="date" id="date" required><br />
      
      <label  for="heure">heure<br /></label>
      <input type="time" name="heure" id="heure" required><br />

      <label  for="motif">motif<br /></label>
      <input  name="motif" id="motif" required><br />


  <h2>Choisissez une date</h2>
  <input id="calendar" type="text" placeholder="Sélectionnez une date">

    <!-- Include Flatpickr JS -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
        // Initialize Flatpickr
      flatpickr("#calendar", {
          altInput: true,
          altFormat: "F j, Y",
          dateFormat: "Y-m-d",
          onChange: function(selectedDates, dateStr, instance) {
                // Redirect to the timetable for the selected date
              window.location.href = `/rdv/horaire?date=${dateStr}`;
          }
      });
  </script>


    </form>

  </div>
    
{% else %}
  <div class="rdv-non-connexion">
    <p> Pour prendre rendez-vous veuillez vous connecter <a href="{{ url_for('auth.login') }}">ici</a></p>
                   
  </div>

{% endif %}
{% endblock %}