<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header">
        <nav id="header-nav">
            
            <ul id="header-nav-menu">
                {% if g.user %}
                    <li><a href="{{ url_for('home.landing_page') }}">Acceuil</a></li>
                    <li><a href="{{ url_for('informations.info') }}">Infos</a></li>
                    <li id="rendezvous"><a  href="{{ url_for('rdv.prendre_rendez_vous') }}">Prendre rendez-vous</a></li>
                    <li><a id="header-logo" href="{{url_for('user.show_profile')}}">
                        <img id="header-logo" src="{{url_for('static', filename='imgs/header-avatar.png')}}" alt="profile-photo"></a></li>
                {% else %}
                    <li><a href="{{ url_for('home.landing_page') }}">Acceuil</a></li>
                    <li><a href="{{ url_for('informations.info') }}">Infos</a></li>
                    <li id="rendezvous"><a href="{{ url_for('rdv.prendre_rendez_vous') }}">Prendre rendez-vous</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <div id="footer-nav">
           
            
            <div id="footer-nav-logo">
                <a href="https://www.facebook.com/">
                    <img src="{{url_for('static', filename='imgs/Facebook-logo.png')}}" alt="Facebook-logo">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="{{url_for('static', filename='imgs/instagram-logo.png')}}" alt="instagram logo">
                </a>
            </div>
        </div>
    </footer>

    
</body>